[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
sqlalchemy = "*"
tableschema-sql = "*"
langgraph = "*"
langchain-groq = "*"
grandalf = "*"
pandas = "*"
tabulate = "*"
gunicorn = "*"
dataclasses = "*"

[dev-packages]
colorama = "*"

[requires]
python_version = "3.12"

[scripts]
server = "gunicorn --bind 0.0.0.0:8080 app:me"
cli_agent = "python3 agent.py"
