[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
sqlalchemy = "*"
tableschema-sql = "*"
langgraph = "*"
langchain-groq = "*"
grandalf = "*"
pandas = "*"
tabulate = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
chainlit = {git = "https://github.com/Chainlit/chainlit.git", subdirectory = "backend/"}

[dev-packages]
colorama = "*"

[requires]
python_version = "3.12"

[scripts]
server = "chainlit run chainlit_app.py -w"
cli_agent = "python3 agent.py"
