[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
sqlalchemy = "*"
tableschema-sql = "*"
chainlit = "*"
langgraph = "*"
langchain-groq = "*"
grandalf = "*"
pandas = "*"
tabulate = "*"

[dev-packages]
colorama = "*"

[requires]
python_version = "3.12"
